@import url('https://fonts.googleapis.com/css2?family=Federant&family=Indie+Flower&family=Titan+One&display=swap');

$fedora: "Federant", cursive;
$flower: "Indie Flower", Helvetica, Arial, sans-serif;
$titan: "Titan One", cursive;

.dark {
	--light: #f1f5f9;
	--dark: #111;
	--m-l-dark: #333;
	--l-dark: #555;
	--l-m-dark: #666;
	--l-l-dark: #777;
	--med: #0ff;
	--scroll-d: #a8bbbf;
	--scroll-l: #d6dee1;
}