@use "./styles/mix";
@use "./styles/normalize.css";
@use "./styles/var";

body {
	@include mix.flex(row, flex-start);
	overflow: hidden;
}

.nav {
	@include mix.box(4rem, 100vh);
	@include mix.flex(column, flex-start, flex-start);
	padding: 0.5rem 0rem;
	gap: 0.5rem;

	background-color: var( --dark );
	box-shadow: 0 0 0.25rem var( --dark );
	z-index: 2;

	& .nav-icon-wrapper {
		@include mix.flex();

		& .nav-icon-pill {
			margin-right: 0.25rem;
			width: 0.25rem;

			&.active {
				height: 70%;
				border-radius: 0 50% 50% 0;
				background-color: var( --light );
			}
		}

		& .nav-icon {
			@include mix.flex();
			@include mix.box(3rem);
			border-radius: 50%;
			color: var( --med );
			background-color: var( --l-dark );
			cursor: pointer;
			transition: border-radius 0.3s ease-in-out;
	
			&:hover {
				border-radius: 30%;
			}
		}
	}
}

.sidebar {
	@include mix.box(15rem, 100vh);
	@include mix.flex(column, space-between);

	& .sidebar-top {
		@include mix.flex(row, space-between);
		box-sizing: border-box;
		width: 15rem;
		padding: 0.5rem 0.75rem;
		z-index: 2;

		color: var( --light );
		background-color: var( --m-l-dark );
		font-family: var.$titan;
		box-shadow: 0rem 0.25rem 0.5rem -0.125rem var( --dark ),
			0rem -0.25rem 0.5rem -0.125rem var( --dark );

		& .section-title {
			width: 12.5rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		& button {
			@include mix.flex();
			border: none;
			border-radius: 25%;
			background: none;
			color: var( --light );

			&:hover {
				background-color: var( --dark );
			}

			&.active {
				background-color: var( --dark );
			}
		}
	}

	& .sidebar-mid {
		@include mix.box(15rem, calc(100vh - 6.125rem));
		background-color: var( --l-dark );
		overflow-y: scroll;
	}

	& .sidebar-bottom {
		@include mix.flex(row, space-between);
		box-sizing: border-box;
		width: 15rem;
		padding: 0.5rem 0.75rem;

		color: var( --light );
		background-color: var( --m-l-dark );
		font-family: var.$fedora;
		box-shadow: 0rem 0.25rem 0.5rem -0.125rem var( --dark ),
			0rem -0.25rem 0.5rem -0.125rem var( --dark );

		& .logo-img {
			@include mix.box(2rem);
			@include mix.circle();
		}

		& button {
			@include mix.flex();
			border: none;
			border-radius: 25%;
			padding: 0.5rem;

			background: none;
			color: var( --light );

			&:hover {
				background-color: var( --dark );
			}

			&.active {
				background-color: var( --dark );
			}
		}
	}
}

main {
	@include mix.box(calc(100% - 19rem), 100vh);

	& .topic-bar {
		padding: 0.5rem 0.75rem;
		@include mix.flex(row, flex-end);
		gap: 1rem;
		background-color: var( --l-dark );

		& .topic-txt {
			font-family: var.$flower;
			letter-spacing: 0.125rem;
			font-weight: 500;
			color: var( --light );

			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		& .button-list {
			@include mix.flex();
			gap: 0.5rem;
			
			& button {
				@include mix.flex();
				border: none;
				border-radius: 25%;
				padding: 0.125rem;
				background: none;
				color: var( --light );
	
				&:hover {
					background-color: var( --dark );
				}

				&.active {
					background-color: var( --dark );
				}
			}
		}
	}

	& .task-wrapper {
		height: 100%;
		background-color: var( --l-m-dark );
		overflow-y: scroll;
	}
}

.theming-div {
	@include mix.flex(column);
	& h4 {
		font-family: var.$fedora;
		color: var( --light );
	}

	& select {
		@include mix.flex(column);
		margin: 1.5rem;
		padding: 0.125rem;
		@include mix.box(10rem, 1.5rem);
	}
}

body > [aria-hidden="true"] {
	filter: blur(10px);
}

body > * {
    transition: 0.15s filter linear;
}

.swal-modal {
	background-color: var( --l-m-dark );
	border: double var( --dark ) 0.25rem;
}

.swal-footer {
	background-color: var( --m-l-dark );
}

.swal-title {
	color: var( --light );
}

.swal-button--confirm {
	background-color: var( --med );
	color: var( --light );
}

.swal-icon--success::before, 
.swal-icon--success::after,
.swal-icon--success__hide-corners {
	display: none;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
	background-color: var( --scroll-l );
	border-radius: 1rem;
	border: 0.25rem solid transparent;
	background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
	background-color: var( --scroll-d );
}